USE [master]
GO
/****** Object:  Database [phanmemquanly]    Script Date: 12/25/2025 11:27:20 PM ******/
CREATE DATABASE [phanmemquanly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'phanmemquanly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\phanmemquanly.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'phanmemquanly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\phanmemquanly_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [phanmemquanly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [phanmemquanly]
GO
/****** Object:  Table [dbo].[account]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](8) NOT NULL,
	[type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datecheckin] [smalldatetime] NULL,
	[datecheckout] [smalldatetime] NULL,
	[idtable] [int] NOT NULL,
	[status] [int] NOT NULL,
	[discount] [int] NULL,
	[totalprice] [int] NULL,
	[finalprice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billinfo]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billinfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idbill] [int] NOT NULL,
	[idfood] [int] NOT NULL,
	[count] [int] NOT NULL,
	[realname] [nvarchar](100) NULL,
	[realprice] [float] NOT NULL,
	[realidcategory] [int] NULL,
	[NOTE] [nvarchar](200) NULL,
	[ISMAIN] [int] NULL,
	[idparent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPN]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [int] NULL,
	[MaNL] [int] NULL,
	[SoLuong] [decimal](18, 3) NULL,
	[DonGia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongThuc]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThuc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idfood] [int] NULL,
	[MaNL] [int] NULL,
	[SoLuongCan] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[idcategory] [int] NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foodcategory]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foodcategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNL] [int] IDENTITY(1,1) NOT NULL,
	[TenNL] [nvarchar](100) NULL,
	[DonVi] [nvarchar](20) NULL,
	[TonKho] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapkho]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapkho](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[TongTien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tablefood]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablefood](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[trangthai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account] ([username], [password], [type]) VALUES (N'a', N'a', 1)
INSERT [dbo].[account] ([username], [password], [type]) VALUES (N'a1', N'a', 1)
INSERT [dbo].[account] ([username], [password], [type]) VALUES (N'admin', N'admin', 1)
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([id], [datecheckin], [datecheckout], [idtable], [status], [discount], [totalprice], [finalprice]) VALUES (209, CAST(N'2025-12-23T10:15:00' AS SmallDateTime), CAST(N'2025-12-23T10:15:00' AS SmallDateTime), 5, 1, 0, NULL, NULL)
INSERT [dbo].[bill] ([id], [datecheckin], [datecheckout], [idtable], [status], [discount], [totalprice], [finalprice]) VALUES (210, CAST(N'2025-12-23T10:15:00' AS SmallDateTime), CAST(N'2025-12-23T10:15:00' AS SmallDateTime), 1, 1, 0, NULL, NULL)
INSERT [dbo].[bill] ([id], [datecheckin], [datecheckout], [idtable], [status], [discount], [totalprice], [finalprice]) VALUES (211, CAST(N'2025-12-23T10:25:00' AS SmallDateTime), CAST(N'2025-12-24T21:20:00' AS SmallDateTime), 5, 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[billinfo] ON 

INSERT [dbo].[billinfo] ([id], [idbill], [idfood], [count], [realname], [realprice], [realidcategory], [NOTE], [ISMAIN], [idparent]) VALUES (453, 209, 19, 1, N'Trà sữa', 20000, 4, N'Không đá | 0% đường
+ Trân châu đen', 1, NULL)
INSERT [dbo].[billinfo] ([id], [idbill], [idfood], [count], [realname], [realprice], [realidcategory], [NOTE], [ISMAIN], [idparent]) VALUES (454, 209, 16, 1, N'Trân châu đen', 5000, 9, N'', 0, 453)
INSERT [dbo].[billinfo] ([id], [idbill], [idfood], [count], [realname], [realprice], [realidcategory], [NOTE], [ISMAIN], [idparent]) VALUES (455, 210, 19, 1, N'Trà sữa', 35000, 4, N'Không đá | 0% đường
+ Trân châu đen
+ Trân châu trắng', 1, NULL)
SET IDENTITY_INSERT [dbo].[billinfo] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPN] ON 

INSERT [dbo].[ChiTietPN] ([id], [MaPN], [MaNL], [SoLuong], [DonGia]) VALUES (1, 21, 4, CAST(50000.000 AS Decimal(18, 3)), CAST(1000000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietPN] ([id], [MaPN], [MaNL], [SoLuong], [DonGia]) VALUES (2, 21, 4, CAST(50000.000 AS Decimal(18, 3)), CAST(1000000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietPN] ([id], [MaPN], [MaNL], [SoLuong], [DonGia]) VALUES (3, 21, 4, CAST(50000.000 AS Decimal(18, 3)), CAST(1000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ChiTietPN] OFF
GO
SET IDENTITY_INSERT [dbo].[CongThuc] ON 

INSERT [dbo].[CongThuc] ([ID], [idfood], [MaNL], [SoLuongCan]) VALUES (14, 19, 12, CAST(1.000 AS Decimal(18, 3)))
INSERT [dbo].[CongThuc] ([ID], [idfood], [MaNL], [SoLuongCan]) VALUES (15, 16, 12, CAST(1.000 AS Decimal(18, 3)))
INSERT [dbo].[CongThuc] ([ID], [idfood], [MaNL], [SoLuongCan]) VALUES (36, 26, 1, CAST(10.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[CongThuc] OFF
GO
SET IDENTITY_INSERT [dbo].[food] ON 

INSERT [dbo].[food] ([id], [name], [idcategory], [price]) VALUES (16, N'Trân châu đen', 9, 5000)
INSERT [dbo].[food] ([id], [name], [idcategory], [price]) VALUES (18, N'Trân châu trắng', 9, 5000)
INSERT [dbo].[food] ([id], [name], [idcategory], [price]) VALUES (19, N'Trà sữa', 4, 15000)
SET IDENTITY_INSERT [dbo].[food] OFF
GO
SET IDENTITY_INSERT [dbo].[foodcategory] ON 

INSERT [dbo].[foodcategory] ([id], [name]) VALUES (4, N'Trà ')
INSERT [dbo].[foodcategory] ([id], [name]) VALUES (9, N'Topping')
INSERT [dbo].[foodcategory] ([id], [name]) VALUES (10, N'Sinh tố')
SET IDENTITY_INSERT [dbo].[foodcategory] OFF
GO
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonVi], [TonKho]) VALUES (1, N'Đường', N'gram', CAST(154860.000 AS Decimal(18, 3)))
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonVi], [TonKho]) VALUES (2, N'Đá viên', N'gram', CAST(119920.000 AS Decimal(18, 3)))
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonVi], [TonKho]) VALUES (6, N'Sữa tươi', N'ml', CAST(9990.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapkho] ON 

INSERT [dbo].[PhieuNhapkho] ([MaPN], [NgayNhap], [TongTien]) VALUES (1, CAST(N'2025-12-04T23:02:43.367' AS DateTime), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[PhieuNhapkho] ([MaPN], [NgayNhap], [TongTien]) VALUES (2, CAST(N'2025-12-04T23:04:35.300' AS DateTime), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[PhieuNhapkho] ([MaPN], [NgayNhap], [TongTien]) VALUES (3, CAST(N'2025-12-04T23:05:10.227' AS DateTime), CAST(0 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[PhieuNhapkho] OFF
GO
SET IDENTITY_INSERT [dbo].[tablefood] ON 

INSERT [dbo].[tablefood] ([id], [ten], [trangthai]) VALUES (1, N'Bàn 0', N'Có người')
INSERT [dbo].[tablefood] ([id], [ten], [trangthai]) VALUES (2, N'Bàn 1', N'Trống')
INSERT [dbo].[tablefood] ([id], [ten], [trangthai]) VALUES (3, N'Bàn 2', N'Trống')
SET IDENTITY_INSERT [dbo].[tablefood] OFF
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [TenRangBuoc]  DEFAULT ((1)) FOR [type]
GO
ALTER TABLE [dbo].[billinfo] ADD  DEFAULT ((0)) FOR [count]
GO
ALTER TABLE [dbo].[billinfo] ADD  DEFAULT ('') FOR [NOTE]
GO
ALTER TABLE [dbo].[billinfo] ADD  DEFAULT ('0') FOR [ISMAIN]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((0)) FOR [TonKho]
GO
ALTER TABLE [dbo].[PhieuNhapkho] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([idtable])
REFERENCES [dbo].[tablefood] ([id])
GO
ALTER TABLE [dbo].[billinfo]  WITH CHECK ADD FOREIGN KEY([idbill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[billinfo]  WITH CHECK ADD FOREIGN KEY([realidcategory])
REFERENCES [dbo].[foodcategory] ([id])
GO
ALTER TABLE [dbo].[ChiTietPN]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhapkho] ([MaPN])
GO
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD FOREIGN KEY([idfood])
REFERENCES [dbo].[food] ([id])
GO
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[food]  WITH CHECK ADD FOREIGN KEY([idcategory])
REFERENCES [dbo].[foodcategory] ([id])
GO
/****** Object:  StoredProcedure [dbo].[chuyenban]    Script Date: 12/25/2025 11:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[chuyenban]
    @idtable1 INT,
    @idtable2 INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @bill1 INT, @bill2 INT;

    SELECT @bill1 = id FROM bill WHERE idtable = @idtable1 AND status = 0;
    SELECT @bill2 = id FROM bill WHERE idtable = @idtable2 AND status = 0;

    IF @bill1 IS NULL RETURN;

    -- Bàn 2 chưa có bill → chỉ đổi bàn
    IF @bill2 IS NULL
    BEGIN
        UPDATE bill SET idtable = @idtable2 WHERE id = @bill1;
        UPDATE tablefood SET trangthai = N'Trống' WHERE id = @idtable1;
        UPDATE tablefood SET trangthai = N'Có người' WHERE id = @idtable2;
        RETURN;
    END

    ------------------------------------------------
    -- GỘP MÓN BÌNH THƯỜNG (KHÔNG PROC – KHÔNG CURSOR)
    ------------------------------------------------
    SELECT
        idfood,
        ismain,
        ISNULL(note,'') AS note,
        SUM(count) AS count,
        MAX(realname) AS realname,
        MAX(realprice) AS realprice,
        MAX(realidcategory) AS realidcategory
    INTO #TMP
    FROM billinfo
    WHERE idbill IN (@bill1, @bill2)
    GROUP BY
        idfood,
        ismain,
        ISNULL(note,'');

    DELETE FROM billinfo WHERE idbill IN (@bill1, @bill2);

    INSERT INTO billinfo(
        idbill,
        idfood,
        count,
        realname,
        realprice,
        realidcategory,
        ismain,
        note
    )
    SELECT
        @bill2,
        idfood,
        count,
        realname,
        realprice,
        realidcategory,
        ismain,
        note
    FROM #TMP;

    DROP TABLE #TMP;

    DELETE FROM bill WHERE id = @bill1;

    UPDATE tablefood SET trangthai = N'Trống' WHERE id = @idtable1;
    UPDATE tablefood SET trangthai = N'Có người' WHERE id = @idtable2;
END
GO
/****** Object:  StoredProcedure [dbo].[doanhthu]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[doanhthu]
    @TuNgay DATETIME,
    @DenNgay DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @KhoangThang INT = DATEDIFF(MONTH, @TuNgay, @DenNgay);
    DECLARE @KhoangNam   INT = DATEDIFF(YEAR,  @TuNgay, @DenNgay);

    /* ================== THEO NĂM ================== */
    IF @KhoangNam >= 1
    BEGIN
        SELECT 
            YEAR(b.datecheckout) AS Nam,
            SUM(CAST(b.finalprice AS DECIMAL(18,2))) AS TongThu
        FROM bill b
        WHERE b.status = 1
          AND b.datecheckout >= @TuNgay
          AND b.datecheckout < DATEADD(DAY, 1, @DenNgay)
        GROUP BY YEAR(b.datecheckout)
        ORDER BY YEAR(b.datecheckout);
        RETURN;
    END

    /* ================== THEO THÁNG ================== */
    IF @KhoangThang >= 1
    BEGIN
        SELECT 
            YEAR(b.datecheckout) AS Nam,
            MONTH(b.datecheckout) AS Thang,
            SUM(CAST(b.finalprice AS DECIMAL(18,2))) AS TongThu
        FROM bill b
        WHERE b.status = 1
          AND b.datecheckout >= @TuNgay
          AND b.datecheckout < DATEADD(DAY, 1, @DenNgay)
        GROUP BY YEAR(b.datecheckout), MONTH(b.datecheckout)
        ORDER BY YEAR(b.datecheckout), MONTH(b.datecheckout);
        RETURN;
    END

    /* ================== THEO GIỜ (CÙNG NGÀY) ================== */
    IF CAST(@TuNgay AS DATE) = CAST(@DenNgay AS DATE)
    BEGIN
        SELECT 
            CAST(b.datecheckout AS DATE) AS Ngay,
            DATEPART(HOUR, b.datecheckout) AS Gio,
            SUM(CAST(b.finalprice AS DECIMAL(18,2))) AS TongThu
        FROM bill b
        WHERE b.status = 1
          AND b.datecheckout >= @TuNgay
          AND b.datecheckout < DATEADD(DAY, 1, @DenNgay)
        GROUP BY 
            CAST(b.datecheckout AS DATE),
            DATEPART(HOUR, b.datecheckout)
        ORDER BY 
            CAST(b.datecheckout AS DATE),
            DATEPART(HOUR, b.datecheckout);
        RETURN;
    END

    /* ================== THEO NGÀY ================== */
    SELECT 
        CAST(b.datecheckout AS DATE) AS Ngay,
        SUM(CAST(b.finalprice AS DECIMAL(18,2))) AS TongThu
    FROM bill b
    WHERE b.status = 1
      AND b.datecheckout >= @TuNgay
      AND b.datecheckout < DATEADD(DAY, 1, @DenNgay)
    GROUP BY CAST(b.datecheckout AS DATE)
    ORDER BY CAST(b.datecheckout AS DATE);
END
GO
/****** Object:  StoredProcedure [dbo].[gettablelist]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[gettablelist]
as select* from tablefood
GO
/****** Object:  StoredProcedure [dbo].[insert_main_food]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[insert_main_food]
    @idbill INT,
    @idfood INT,
    @count INT,
    @realname NVARCHAR(100),
    @realidcategory INT,
    @realprice INT,
    @note NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @existId INT = NULL;
    DECLARE @oldCount INT = 0;
    DECLARE @normalizedNote NVARCHAR(200) = ISNULL(@note, '');

    -- Tìm món để gộp chỉ dựa vào idbill + idfood + ismain + note
    SELECT TOP 1
        @existId = id,
        @oldCount = count
    FROM billinfo
    WHERE idbill = @idbill
      AND idfood = @idfood
      AND ismain = 1
      AND ISNULL(note,'') = @normalizedNote;

    IF (@existId IS NOT NULL)
    BEGIN
        -- Gộp món
        UPDATE billinfo
        SET count = @oldCount + @count
        WHERE id = @existId;

        SELECT @existId AS idbillinfo;
    END
    ELSE
    BEGIN
        -- Thêm món mới
        INSERT INTO billinfo(
            idbill,
            idfood,
            count,
            realname,
            realidcategory,
            realprice,
            ismain,
            note
        )
        VALUES(
            @idbill,
            @idfood,
            @count,
            @realname,
            @realidcategory,
            @realprice,
            1,
            @normalizedNote
        );

        SELECT SCOPE_IDENTITY() AS idbillinfo;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[insert_topping]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insert_topping]
    @idbill int,
    @idfood int,
	@count int,
    @realname nvarchar(100),
    @realidcategory int,
    @realprice int,
    @idparent int
as
begin
    insert into billinfo(
        idbill,
        idfood,
        count,
        realname,
        realidcategory,
        realprice,
        ismain,
        idparent
    )
    values(
        @idbill,
        @idfood,
        @count,
        @realname,
        @realidcategory,
        @realprice,
        0,
        @idparent
    );
end
GO
/****** Object:  StoredProcedure [dbo].[insertbill]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertbill]
@id int
as
begin
insert bill(datecheckin,datecheckout,idtable,status)
values
(getdate(),null,@id,0)
end
GO
/****** Object:  StoredProcedure [dbo].[insertbillinfo]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertbillinfo]
    @idbill int,
    @idfood int,
    @count int,
	@price int,
	@name nvarchar(100),
	@idcategory int,
	@ismain int
as
begin
    declare @isexistbill int
    declare @foodcount int = 0

    select @isexistbill = idbill, @foodcount = count 
    from billinfo 
    where idbill = @idbill and idfood = @idfood

    if (@isexistbill is not null)
    begin
        declare @newcount int
        set @newcount = @foodcount + @count

        if (@newcount > 0)
            update billinfo 
            set count = @newcount 
            where idbill = @idbill and idfood = @idfood
        else
            delete billinfo 
            where idbill = @idbill and idfood = @idfood
    end
    else
    begin
        insert into billinfo(idbill, idfood, count,realname,realidcategory,realprice,ISMAIN)
        values(@idbill, @idfood, @count,@name,@idcategory,@price,@ismain)
    end	
end
GO
/****** Object:  StoredProcedure [dbo].[insertchitietphieunhapkho]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertchitietphieunhapkho]
  @mapn int,
  @manl int,
  @soLuong DECIMAL(18,3),
  @dongia DECIMAL (18,0)
 as
begin
insert into ChiTietPN(MaPN , MaNL ,SoLuong , DonGia)
values (@mapn,@manl,@soluong,@dongia)
end
GO
/****** Object:  StoredProcedure [dbo].[insertphieunhapkho]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertphieunhapkho]
as
begin
insert into PhieuNhapkho(NgayNhap,TongTien) values
(GETDATE(),0)
end
GO
/****** Object:  StoredProcedure [dbo].[phantramfood]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[phantramfood]
    @TuNgay DATETIME,
    @DenNgay DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        bi.realname AS TenMon,
        SUM(bi.count) AS SoLuong,
        SUM(bi.count) * 100.0 /
        (
            SELECT SUM(bi2.count)
            FROM billinfo bi2
            JOIN bill b2 ON bi2.idbill = b2.id
            JOIN food f2 ON bi2.idfood = f2.id
            WHERE b2.datecheckout BETWEEN @TuNgay AND @DenNgay
              AND f2.idcategory <> 9
        ) AS PhanTram
    FROM billinfo bi
    JOIN bill b ON bi.idbill = b.id
    JOIN food f ON bi.idfood = f.id
    WHERE b.datecheckout BETWEEN @TuNgay AND @DenNgay
      AND f.idcategory <> 9
    GROUP BY bi.realname
    ORDER BY SoLuong DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TongTienChi]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TongTienChi]
    @TuNgay DATETIME,
    @DenNgay DATETIME
AS
BEGIN
    SELECT 
        ISNULL(SUM(CAST(tongtien AS DECIMAL(18,2))), 0) AS TongChi
    FROM PhieuNhapKho
    WHERE NgayNhap BETWEEN @TuNgay AND @DenNgay
END
GO
/****** Object:  StoredProcedure [dbo].[thongke]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[thongke]
@ngay1 date,
@ngay2 date
as
begin
select tf.ten,b.id,b.datecheckin,b.datecheckout from tablefood tf join bill b on tf.id=b.idtable 
where b.status=1 and (datecheckin>=@ngay1 and datecheckout<=@ngay2)
end
GO
/****** Object:  StoredProcedure [dbo].[tongdoanhthu]    Script Date: 12/25/2025 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[tongdoanhthu]
    @TuNgay DATETIME,
    @DenNgay DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(SUM(CAST(b.finalprice AS DECIMAL(18,2))), 0) AS TongDoanhThu
    FROM bill b
    WHERE b.status = 1
      AND b.datecheckout >= @TuNgay
      AND b.datecheckout < DATEADD(DAY, 1, @DenNgay);
END
GO
USE [master]
GO
